# Deployed TagRegistry Smart Contract Address on Monad Mainnet
VITE_CONTRACT_ADDRESS="0x70b84b5B24973D8388F355C03aAEEbc5aF788A69"

# Etherscan V2 API key. Register on etherscan.io to get a free key for Monad indexing
VITE_ETHERSCAN_API_KEY="FTYQK2R74AKB4I3MEC3DM8273C9ECW82ZM"
